body {
    font-family: 'Roboto', sans-serif;
}
  
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/*navbar*/
.navbar{
  background-color: #EBD0CE;
}

/*Hero*/
.image-container {
  height:60vh;
  overflow: hidden;

}

.hero-image {
  width: 100%;
}

/*Venue*/
.venue-content{
  /*background-image: url("/images/bgimage.jpeg");*/
  background-size: cover;
  background-repeat: no-repeat;
}

.card-title{
  font-family: 'Dancing Script', cursive;
  
}



.venue-image{
  min-height: 190px;

}

.venue-name{
  background-color: #EBD0CE;
  font-family: 'Dancing Script', cursive;
  
}


/*Banner*/
.banner{
  font-family: 'Amatic SC', cursive;
}

.logo{
  width:85px;
}

/*Register*/
.registerBackground{
  background-image: url("/images/bgimage.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.registerName{
  font-family: 'Dancing Script', cursive;
}

.contactUs{
  background-color: #EBD0CE;
  font-family: 'Dancing Script', cursive;

}

/*Login*/
.loginBackground{
  background-image: url("/images/bgimage.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.loginName{
  font-family: 'Dancing Script', cursive;
}


/*Footer*/
.footer-bar{
  background-color: #EBD0CE;
}